/* * {
    border: 1px solid lightblue;
} */

.brand-logo {
    display: none!important;
}

.mock-player-large {
    width: 100%;
}

.about {
    position: relative;
    color: black;
    /* background-color: white; */
    background-image: url("../images/natural_paper/natural_paper.png");
    margin-top: 32px;
    width: 100%;
    color: rgba(0, 0, 0, 0.68)
}

.about-profile-pic {
    float: right;
    width: 120px;
    margin: 14px 4px 8px;
}

.liner-notes {
    background-color: white;
    margin-top: 32px;
}

.photo-gallery {}

@media only screen and (min-width: 759px) {
    .brand-logo {
        display: block!important;
    }
}

@media only screen and (min-width: 860px) {
    .about {
        width: 722px;
    }
}